body{
    background-color: grey;
    overflow-y:scroll;
    padding-top: 51px;
}

.navbar{
    border-radius: 0;
    margin-bottom: 0;
}

.panel{
    margin-top: 0px;
    margin-bottom: 0px;
    padding: 0px 0px 0px 0px;
    border-radius: 0;
}

.item{
    height: 500px;
}

.goodsImage{
    width: 200px;
    height: 200px;
}

pre{
    border-radius: 0;
    height: 200px;
}

.well{
    height: 200px;
    margin-bottom: 0;
    border-radius: 0px;
}

#gmap_canvas img{
    max-width:none!important;
    background:none!important;
}

.mapInfo{
    width: 100%;
    height: auto;
    height:440px;
}

@media all and (min-width: 768px) {
    .navbar-fixed-width {
        width: 768px;
        margin-left: auto;
        margin-right:auto;
    }
}

@media all and (min-width: 992px) {
    .navbar-fixed-width {
        width: 992px;
        margin-left: auto;
        margin-right:auto;
    }

}

@media all and (min-width: 1260px) {
    .navbar-fixed-width {
        width: 1260px;
        margin-left: auto;
        margin-right:auto;
    }
}
